.App {
  text-align: center;
}

header {
  background-color: #282c34;
  margin: 0;
  padding: 20px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}